{% load static %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Sign in Page</title>
		<link rel="stylesheet" href="{% static 'index.css' %}">
		<script type="text/javascript" src = "{{ STATIC_URL }}/static/jquery-3.3.1.min.js"></script>
		<script>
			$(document).bind('contextmenu',function(e){
				return false;
			});
			function valid(){
				var x = document.getElementById('name').value;
				if(x== ''){
					alert("Please enter all the details");
				}
			}
		</script>
	</head>
	<body>
		<h1 align="center">welcome to comments section</h1>
		<br>
		<form align="center" method="post">
			{% csrf_token %}
			<label>Name</label><br>
			<input type="text" name="name" id="name" placeholder="enter your name">
			<br><br>
			<label>comment</label>
			<br>
			<textarea name = "comment" id="comment" placeholder="add comment"
				rows="5" cols="40"
			></textarea>
			<br><br>
			<input type="submit" value="Add my comment" onclick = "valid();">
		</form>
	</body>
</html>