{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>QuizMaker - The most searched website| Login</title>
		<link rel="stylesheet" href = "{% static 'quiz/index.css' %}">
		<script src = "{% static 'quiz/jquery-3.3.1.min.js' %}"></script>
		<script>
			$(document).ready(function(){
				
				$('#regusername').change(function(){
						username = $(this).val();
						console.log(username);
						$.ajax({
							method:'POST',
							url : "{% url 'validate' %}",
							data:{
								'username' : username,
								'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
							},
							dataType:'json',
							success:function(data){
								if(data.is_taken){
									alert("Username already taken")
									$("#regusername").val("");
								}
							}
						});
				});
				$('#signup').click(function(e){
					e.preventDefault(e);
					var username = $('#regusername').val();
					var password = $("#regpassword").val();
					username = username.replace(/\s/g,'')
					if(username.length >8 && password.length>8){

						$.ajax({
							method: 'POST',
							url: "{% url 'register' %}",
							data:{
								'regusername': $('#regusername').val(),
								'regemail': $('#regemail').val(),
								'regphone': $('#regphone').val(),
								'regpassword': $('#regpassword').val(),
								'csrfmiddlewaretoken' : $('input[name = csrfmiddlewaretoken]').val(),
							},
							dataType : 'json',
							success:function(data){
								if(data.is_success){
									alert("Account created successfully")
									$('#regusername').val("")
									$('#regemail').val("")
									$('#regphone').val("")
									$('#regpassword').val("")
								}
								else{
									alert("Please don't submit blank forms")
								}
							}
						});
					}
					else{
						alert("Username and password should be of minimum 9 letters")
					}
			});
		});				
		
		</script>
		
		
	</head>
	<body>
		<div class="header">
			<h1><span>Quizbook</span></h1>
			<form id="loginform" method="POST" action="{% url 'login' %}">
				{% csrf_token %}
				<div class = 'username'>
					<label>Username</label><br>
					<input type="text" placeholder="username" id="username" name="username">
				</div>
				<div class='password'>
					<label>Password</label><br>
					<input type="password" placeholder="password" id="password" name="password">
				</div>
				<input type="submit" value="Login" id="loginbtn">
			</form>
		</div>
		<div class="section">
			<form id="registrationform" method="POST">
				{% csrf_token %}
				<h1>&#9757; Register me &#9757;</h1><br><br>
				<input type="text" id="regusername" placeholder="username"><br><br><br>
				<input type="email" id="regemail" placeholder="email address"><br><br><br>
				<input type="text" id="regphone" placeholder="Mobile number"><br><br><br>
				<input type="password" id="regpassword" placeholder="Password"><br><br>
				<input type="submit" id='signup' value="Sign up">
			</form>
		</div>
		<div class='footer'><h2 align="center" style="margin-top:2cm">&copy;SCTPL Internship Project 2018 - By Ashutosh Dhondkar</h2></div>
	</body>
</html>