*{
	margin:0px;
	padding:0px;
}
.newclass{
	border: 2px solid black;
}
.header{
	width:100%;
	display: inline-block;
	background-color:#3B5998;
	box-sizing: border-box;
}
.header h1{

	margin-left:10%;
	padding-top:30px;
	padding-bottom: 20px;
	color:white;
	font-family: Helvetica;
	font-size:1.5cm;
	cursor:pointer;
	width:30%;
	float:left;
}
#loginform{
	margin-left:50%;
	/*padding-top:30px;*/
}
.username,.password{
	padding-top:30px;
	float:left;
	margin-left:5%;
	color:white;
	font-size:0.5cm;
}
.username input,.password input{
	padding:5px;
	border-radius: 5px;
	border:2px solid #3B5998;
}
#loginform input[type="submit"]{
	float:left;
	margin-top:50px;
	margin-left:5%;
	background: #3B5998;
	padding:5px;
	color:white;
}
#registrationform{
	clear:both;
	margin:30px 20%;
	/*width:60%;*/
	/*border:2px solid blue;*/
	padding:auto;
	box-sizing: border-box;
	text-align: center;
}
#registrationform h1{
	text-align: center;
}
#registrationform input{
	padding:10px;
	border-radius:10px;
	border:2px solid #948f8e;
	width:50%;
	font-size:20px;
	font-family: Bookman old style;
}
#registrationform input::placeholder{
	font-size:20px;
	font-family: Bookman old style;
}
#registrationform #signup{
	padding:15px;
	border-radius: 10px;
	border:none;
	width:20%;
	background-color:orange;
	font-size:20px;
	font-family: Bookman old style;
	font-weight:900;
	color:black;
}
body{
	/*background-color: #fce6df;*/
	background-color: #e4e4e4;
}